.emailError--hidden {
    visibility: hidden;
}

.emailError--visible{
    visibility: visible;
}


small{
    display: block;
    text-align: center;
}

.fondo{
    background-color: aliceblue !important;
}

.colortexto{
    color:black;
}